@model culinariaMVC.Models.User

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/Layout_Home.cshtml";
}

<link rel="stylesheet" href="~/css/LoginRegister.css" type="text/css"></link>

<h1 id="auth">Autenticação</h1>
<hr />

<div class="row justify-content-center" id="autenticacao">
    <div class="col-12" id="btn_tab">
        <button type="button" class="btn tablink" onclick="openPage('Login', this, '#723b17')" id="defaultOpen">Login</button>
        <button type="button" class="btn tablink" onclick="openPage('Register', this, '#723b17')">Registo</button>

    </div>

    <div class="col-12">
        <div class="col-6">
            <form asp-action="LoginPage">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div id="Login" class="tabcontent">
                    <h5>Login</h5>

                    <div id="errorMessage">
                        @if (@ViewBag.ErrorMessage != null)
                        {
                            <div class="alert alert-danger" role="alert">
                                @ViewBag.ErrorMessage
                            </div>
                        }
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="email" class="control-label" id="email_label">Insira o Email:</label>
                        <input asp-for="email" type="email" class="form-control" id="email" />
                        <span asp-validation-for="email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="password" class="control-label" id="pass_label">Insira a Password:</label>
                        <input asp-for="password" type="password" class="form-control" id="password" />
                        <span asp-validation-for="password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input id="user_login" type="submit" class="btn btn-secondary" value="Entrar" />
                    </div>
                </div>


            </form>
        </div>
        <div class="col-6">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div id="Register" class="tabcontent">
                    <h5>Registo</h5>
                    <div class="form-group">
                        <label asp-for="username" class="control-label">Insira o Nome de Utilizador:</label>
                        <input asp-for="username" class="form-control" />
                        <span asp-validation-for="username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="email" class="control-label">Insira o Email:</label>
                        <input asp-for="email" type="email" class="form-control" />
                        <span asp-validation-for="email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="password" class="control-label">Insira a Password:</label>
                        <input asp-for="password" type="password" class="form-control" />
                        <span asp-validation-for="password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="tipo_user" class="control-label">Que tipo de papel quer ter no nosso website?</label>
                        <select asp-for="tipo_user" class="form-control">
                            <option disabled>Selecione o tipo de utilizador</option>
                            <option value="Leitor">Leitor</option>
                            <option value="Pasteleiro">Pasteleiro</option>
                        </select>
                        <span asp-validation-for="tipo_user" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Registar" id="login_btn" class="btn btn-secondary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="~/js/LoginRegister.js"></script>