@model culinariaMVC.Models.MinhasReceita

@{
    ViewData["Title"] = "Apagar Receita do Arquivo";
    Layout = "~/Views/Shared/Layout_LeitorHome.cshtml";
}

<h1 style="margin-left:37%">Remover Receita dos Arquivos</h1>

<h3 style="margin-left:32%">Tem a certeza que pretende remover a receita dos Arquivos?</h3>
<div>
    <hr />
    
    <form asp-action="Delete" asp-route-name_leitor="@User.Identity.Name" style="margin-left:41%">
        <input type="hidden" asp-for="Id_minhaReceita" />
        <a asp-action="Arquivos_Leitor" asp-controller="Leitors" asp-route-name_leitor="@User.Identity.Name">Voltar ao Arquivo de Receitas</a> |
        <input type="submit" value="Apagar" class="btn btn-danger" />
    </form>
</div>
<script src="~/js/DeleteReceita.js"></script>