@model IEnumerable<culinariaMVC.Models.Leitor>

@{
    ViewData["Title"] = "Leitor HomePage";
    Layout = "~/Views/Shared/Layout_LeitorHome.cshtml";
}

<div class="row">
    <div class="col-8 cards_grelha">
        <h3>Receitas Top</h3>
        <br>
        <div class="row">

            <div id="card_receita"></div>


            @*<div class="column">
                    <div class="card">
                        <img src="~/Photos/folar_pascoa.jfif" class="rounded">
                        <br>
                        <b>Folar da Páscoa</b>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <img src="~/Photos/pao_lo.jfif" class="rounded">
                        <br>
                        <b>Pão de Ló</b>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <img src="~/Photos/bolo_rei.jfif" class="rounded">
                        <br>
                        <b>Bolo Rei</b>
                    </div>
                </div>*@
        </div>

        <br>
        <br>

        @*<div class="column">
                <div class="card">
                    <img src="~/Photos/baba_camelo.jfif" class="rounded">
                    <br>
                    <b>Baba de Camelo</b>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <img src="~/Photos/arroz_doce.jfif" class="rounded">
                    <br>
                    <b>Arroz Doce</b>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <img src="~/Photos/aletria.jfif" class="rounded">
                    <br>
                    <b>Aletria</b>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <img src="~/Photos/mousse_chocolate.jfif" class="rounded">
                    <br>
                    <b>Mousse de Chocolate</b>
                </div>
            </div>*@
    </div>


    <div class="caixa">
        <div id="jumbo_pesquisa" class="jumbotron sticky-top">
            <div id="section_pesquisa" class="col-4">
                <h3>Pesquisa</h3>
            </div>
        </div>
        <div class="img_caixa img_fluid">
            <br><br>
            <div class="form-group">
                <select class="form-control" id="categoria" name="cat">
                    <option selected disabled label="Categoria"></option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control" id="grau_dific">
                    <option>Grau de Dificuldade</option>
                    <option value="Baixo">Baixo</option>
                    <option value="Médio">Médio</option>
                    <option value="Alto">Alto</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control" id="custo_ref">
                    <option>Custo da Refeição</option>
                    <option value="Baixo">Baixo</option>
                    <option value="Médio">Médio</option>
                    <option value="Alto">Alto</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control" id="tempo_conf">
                    <option>Tempo da confecção</option>
                    <option>15 minutos</option>
                    <option>20 minutos</option>
                    <option>30 minutos</option>
                    <option>45 minutos</option>
                    <option>60 minutos</option>
                    <option>Superior a 60 minutos</option>
                </select>
            </div>
            <button class="btn" type="submit" id="btn_pesquisar">Pesquisar</button>
        </div>
    </div>
</div>

<script src="~/js/HomeReceita.js"></script>



@* <td>
        <a asp-action="Edit" asp-route-id="@item.Id_leitor">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.Id_leitor">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.Id_leitor">Delete</a>
    </td>*@
