.navbar {
    background-color: #723b17;
}

.jumbotron {
    background-color: #f1f1f1;
    height: 27vh;
}

#docaria_img {
    margin-top: 1%;
}

#user_hello {
    /*margin-left: 15%;*/
    color: white;
}

#user_arquivos {
    width: 30%;
    margin-left: 4%;
}

#sair {
    margin-left: 4%;
    width: 30%;
}

/****************Pesquisa***********************/
#section_pesquisa {
    margin-top: -20px;
    margin-left: 30%;
}

.caixa {
    width: 25%;
    height: 65vh;
    position: absolute;
    left: 72%;
    border: 2px solid #723b17;
    border-radius: 5px;
}

#jumbo_pesquisa {
    height: 10vh;
}

#categoria, #grau_dific, #custo_ref, #tempo_conf {
    width: 50%;
    margin-left: 24%;
}

#btn_pesquisar {
    background-color: white;
    width: 25%;
    margin-top: 12%;
    margin-left: 37%;
}

.img_caixa {
    background-image: url("../Photos/brigadeiro.jfif");
    background-repeat: no-repeat;
    margin-top: -32px;
    height: 51vh;
    background-position: center;
    background-size: cover;
}

/*************Cards Com Receita******************/
/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
    margin-bottom: 3%;
}

/* Remove extra left and right margins, due to padding */
.row {
    margin: 0 -5px;
}

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}

.img_card {
    height: 159px;
}

/*******************************************************/
h3 {
    margin-left: 2%;
}

.cards_grelha {
    margin-left: 2%;
}

/***************************Footer*******************************/
#footer {
    padding: 10px;
    background-color: #723b17;
    color: white;
}